<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <link href="/vendor/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
